
.img{
    height: 100%;
    opacity: 0.2;
}
.heroText{
    position:absolute;
    z-index: 2;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 3rem;
    top:40%;
    color:black;
    
}
.textContainer {
    font-family: 'Lato', sans-serif;   
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
  }
  
  .subtext {
    color: #073863d7;
  }
  
  .subtextSmall {
    font-size: 18px;
    color: #0f0f0f;
  }
@keyframes zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}