
/* @import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Titan+One&display=swap'); */

.img{
    opacity: 0.6;
    object-fit: cover;
    height: 100%;
}
.heroText{
    position:absolute;
    z-index: 2;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 3rem;
    top:50%;
    
}
@keyframes zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}