/* .bachelorsTab {
  padding: 10px;
} */

.bachelorsTab h3 {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.bachelorsTab table {
  margin: 0 auto;
  width: fit-content;
  border-collapse: collapse;
}

.bachelorsTab table th, .bachelorsTab table td {
  border: 1px solid #ddd;
  text-wrap: wrap;
  padding: 8px;
  font-size: smaller;
  text-align: left;
}

.bachelorsTab table th {
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  padding: 1rem;
  padding-top: 2rem;
  list-style: none;
}

.pagination li {
  margin: 0.5rem;
}

.pagination li a {
  padding: 0.5rem 0.7rem;
  border: 1px solid #ddd;
  cursor: pointer;
  /* margin-top: 5px; */
}

.pagination li.active a {
  background-color: #0891b2;
  color: white;
  border: 1px solid #0891b2;
}

.pagination li a:hover {
  background-color: #ddd;
}
