/* .thesisSupervisedTab {
  padding: 20px;
} */

.subTabsHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.subTabsHeader button {
  margin: 0 10px;
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.subTabsHeader button:hover {
  color: #0891b2;
}

.activeSubTab {
  border-bottom: 2px solid #0891b2;
}

.subTabsContent {
  padding-top: 20px;
  width: auto;
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  background-color: #fff;
}


