 .navbar-option {
    color: black;
    display: inline-block;
    position: relative;
}

 .navbar-option::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #070707; 
    box-shadow: 0 2px 5px #606060;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.test::after{
    background-color: #0e4f75; 
}

 .test:hover .navbar-option::after{
    transform: scaleX(1);
    transform-origin: bottom center;
}