.researchAreaTab {
  padding: 20px;
}

.researchAreaTab h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.researchAreaTab ul {
  list-style-type: none;
  padding: 0;
}

.researchAreaTab ul li {
  background: #f9f9f9;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
}
