.societyList {
  margin-top: 20px;
}

.societyList h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.societyList ul {
  display: flex;
  gap:10px;
  flex-wrap: wrap;
  padding: 0;
}

.societyList ul li {
  background: #e5e7e9;
  margin-bottom: 5px;
  padding: 4px 6px;
  border-radius: 4px;
}
